<div class="flex">

<div class="dropdown float-right list-group">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
     <h4 class="subheader">Commiserating<span class="badge"><%= @follower_count %></span></h4>
  </a>

  <ul class="dropdown-menu dropdown-list" role="menu">
    <% @current_user.following_users.each do |user| %>
    <li class="list-group-item">
      <%= link_to user.username.capitalize, [:user, id: user.id], class: "list-link" %>
      <%= link_to 'Unfollow', unfollow_path(id: user.id), method: :delete, class: "list-link color" %>
    </li>
    <% end %>
  </ul>
</div>

<div class="col-md-6 col-md-offset-1">
  <%= simple_form_for @post do |f| %>
    <%= f.input :content, label: false, placeholder: "Bitch Away!" %>
    <%= f.input :tag_list, label: false, placeholder: "Add Bitch Categories Seperated By Commas" %>
    <div class="photo-bitch">
      <%= f.input :photo, label: false %>
      <div class="float-right">
        <%= f.submit "Bitch", class: "btn btn-primary bitch-btn"%>
      </div>
    </div>
  <% end %>

  <ul class="list-group">
    <% @posts.each do |post|%>
      <li class="list-group-item bitch">
        <div class="media">
          <% if post.photo.present? %>
            <div class="media-left media-middle">
              <%= image_tag(post.photo.url(:dashboard)) %>
            </div>
          <% end %>
            <div class="media-body">
              <%= post.content%>
              <br>
              <p>
                Bitched <%= distance_of_time_in_words_to_now(post.created_at)%>
                ago by <%= link_to post.user.username, [:user, id: post.user_id]%>
              </p>
            </div>
          <% end %>
      </div>
    </li>
  </ul>
</div>


<h4>People With Lives Probably Worse Than Yours</h4>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.username, [:user, id: user.id] %>
      <%= link_to "Commiserate", [:follow, id: user.id], method: :post %>
    </li>
  <% end %>
</ul>
</div>
