<div class="index">
  <div class="jumbotron">
    <h1 class="header">Bitter</h1>
  </div>
  <div class="container ninety-percent">

    <div class="content">
      <div class="main">
        <h1>Top Bitches</h1>
        <ol class="list-group">
          <% @top_posts.each do |post|%>
            <li class="list-group-item bitch">
              <div class="media">
                <% if post.photo.present? %>
                  <div class="media-left media-middle">
                    <%= image_tag(post.photo.url(:dashboard)) %>
                  </div>
                <% end %>
                  <div class="media-body">
                    <%= post.content%>
                    <br>
                    <p>
                      Bitched <%= distance_of_time_in_words_to_now(post.created_at)%>
                      ago by <span class="top-posts-name"><%= post.user.username %></span>
                    </p>
                    <span class="badge"><%= post.votes %></span>
                  </div>
                <% end %>
            </div>
          </li>
        </ol>
      </div>

      <aside class="col-md-3 mobile-full-width">

        <% if alert %>
          <%= alert %>
        <% end %>

        <h3>Sign in!</h3>
        <%= simple_form_for(:session, url: :auth) do |f| %>
            <%= f.input :email, placeholder: "Email", label:false %>
            <%= f.input :password, placeholder: "Password", label:false %>
            <%= f.submit "Let Me In", class: "btn btn-primary form-btn" %>
        <% end %>

        <% if notice %>
          <br>
          <%= notice %>
        <% end %>

        <h3>Sign Up</h1>
        <%= simple_form_for @user do |f| %>
            <%= f.input :username, placeholder: "Username", label:false %>
            <%= f.input :email, placeholder: "Email", label:false %>
            <%= f.input :password, placeholder: "Password(Longer than 8 characters)", label:false %>
            <%= f.input :password_confirmation, placeholder: "Confirm Password", label:false%>
            <%= f.input :photo, label:"Avatar Image" %>
            <%= f.submit class: "btn btn-primary form-btn" %>
        <% end %>
      </aside>
    </div>
  </div>
</div>
